.card-navbar {
    padding: 1em;
    background: linear-gradient(to right, #007074 5%, #85b8bc 50%, #7FDAC7 95%);
}

.custom-menubar {
    background: linear-gradient(to right, #007074 5%, #85b8bc 50%, #7FDAC7 95%);
    border: none;
    padding: 0;
    position: relative;
    z-index: 1;
}

.custom-menubar .p-menubar-root-list>li {
    background: transparent;
}

.custom-menubar .p-menubar {
    background: transparent;
}

.custom-menubar .p-menubar-root-list>li:hover {
    background: #f3c9ad;
    border-radius: 5px;
}

.custom-menubar .active {
    background-color: #f3c9ad;
    ;
    color: #fff;
}


.custom-menubar .p-menubar-start {
    display: flex;
    justify-content: center;
    width: 50%;
}

.navbar-logo {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -20px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0.7;
    height: 200px;
}