.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #007074;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Asegura que el contenido esté alineado al final */
  align-items: center;
  margin: 10px;
  text-align: center;
  height: 80px;
  /* Ajusta según tus necesidades */
  flex: 1 1 20%;
  /* Permite que haya 5 íconos por fila */
  max-width: 20%;
}

.skill p {
  margin-bottom: auto;
  font-size: 16px;
}

.skill i {
  color: #020202;
}

.skill-icon {
  font-size: 2em;
}

/* @media (min-width: 1025px) and (max-width: 1600px) {
  .skill p {
    font-size: 20px;
  }

  .skill {
    margin: 10px;
    text-align: center;
    height: 120px;
    flex: 1 1 20%;
    max-width: 20%;
  }
} */

/* @media (min-width: 1601px) {
  .skill p {
    font-size: 20px;
  }

  .skill {
    margin: 10px;
    text-align: center;
    height: 120px;
    flex: 1 1 20%;
    max-width: 20%;
  }
} */