.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.card-align-right {
    align-self: flex-end;
    width: 50%;
    max-width: 1000px;
    /* Ajusta según sea necesario */
}

.card-align-left {
    align-self: flex-start;
    width: 50%;
    max-width: 1000px;
    /* Ajusta según sea necesario */
}

.card-align-center {
    align-self: center;
    width: 50%;
    max-width: 1000px;
    /* Ajusta según sea necesario */
}

.custom-card .p-card-title {
    color: black;
}

.custom-card .p-card-subtitle {
    color: #fff;
}

.custom-card {
    opacity: 0.8;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, opacity 0.3s;
    margin: 10px;
    width: 900px;
    height: 250px;
}

.custom-card1 {
    background: url('../imagenes/fondohabilidades.jpg') no-repeat center center;
    background-size: cover;
}

.custom-card2 {
    background: url('../imagenes/fondohabilidades.jpg') no-repeat center center;
    background-size: cover;
}

.custom-card3 {
    background: url('../imagenes/fondohabilidades.jpg') no-repeat center center;
    background-size: cover;
}

.custom-card:hover {
    transform: translateY(-10px);
    opacity: 1;
}

.flecha {
    position: absolute;
    width: 500px;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.flecha1 {
    bottom: 5%;
    /* Ajusta la posición según sea necesario */
    left: 10%;
    /* Ajusta la posición según sea necesario */
    transform: rotate(165deg);
    /* Ajusta la rotación según sea necesario */
}

.flecha2 {
    top: 10%;
    /* Ajusta la posición según sea necesario */
    right: 10%;
    /* Ajusta la posición según sea necesario */
    transform: rotate(2deg);
    /* Ajusta la rotación según sea necesario */
}

.flechaAnimation {
    position: absolute;
    width: 450px;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
    top: 3%;
    /* Ajusta la posición según sea necesario */
    right: 13%;
    /* Ajusta la posición según sea necesario */
    transform: rotate(85deg);
}

#touch {
    cursor: pointer;
    color: #007074;
    text-decoration: underline;
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .flechaAnimation {
        width: 300px;
        height: auto;
        right: 4%;
        top: 20%;
        transform: rotate(80deg);
    }
}